@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e5e5e3;
  --foreground: #c4c4c4;
  --default-text: #000000;
  --border-color: #c4c4c4;
  --alt-text: #4c4c54;
  --highlight: #f5f5f5;
}

.dark {
  --background: #1a1a1c;
  --foreground: #151517;
  --default-text: #ffffff;
  --border-color: #3b3b3b;
  --alt-text: #b3b3ab;
  --highlight: #262629;
}

body {
  @apply font-NunitoSans text-text bg-background;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: var(--alt-text);
  border-radius: 5px;
}
